.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filterGroup label {
  font-size: 13px;
  color: var(--text-secondary);
}

.filterGroup select {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--bg-secondary);
  color: var(--text-primary);
  font-size: 14px;
  outline: none;
}

.filterGroup select:focus {
  border-color: var(--border-color-active);
}

.filterGroup option {
  color: black;
}

.rangeRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rangeRow span {
  color: var(--text-secondary);
}

.rangeRow input {
  width: 100%;
  padding: 8px 10px;

  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--bg-secondary);

  color: var(--text-primary);
  font-size: 14px;
  outline: none;
}

.rangeRow input:focus {
  border-color: var(--border-color-active);
}
